@page "/registration"

@if (ShowRegistrationErros)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<EditForm Model="_userForRegistration" OnValidSubmit="Register" class="card card-body bg-light mt-5 w-50" style="display: flex;">
    <DataAnnotationsValidator />

    <div class="form-group row mt-1">
        <label for="name" class="col-md-4 col-form-label">Name:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="_userForRegistration.name" />
            <ValidationMessage For="@(() => _userForRegistration.name)" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <label for="surname" class="col-md-4 col-form-label">Surname:</label>
        <div class="col-md-10">
            <InputText id="surname" class="form-control" @bind-Value="_userForRegistration.surname" />
            <ValidationMessage For="@(() => _userForRegistration.surname)" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <label for="username" class="col-md-4 col-form-label">Username:</label>
        <div class="col-md-10">
            <InputText id="username" class="form-control" @bind-Value="_userForRegistration.username" />
            <ValidationMessage For="@(() => _userForRegistration.username)" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <label for="email" class="col-md-4 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText type="email" id="email" class="form-control" @bind-Value="_userForRegistration.email" />
            <ValidationMessage For="@(() => _userForRegistration.email)" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <label for="password" class="col-md-4 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.password" />
            <ValidationMessage For="@(() => _userForRegistration.password)" />
        </div>
    </div>

    <div class="form-group row mt-2">
        <label for="confirm" class="col-md-4 col-form-label">Confirm Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ConfirmPassword" />
            <ValidationMessage For="@(() => _userForRegistration.ConfirmPassword)" />
        </div>
    </div>

    <div style="display:flex; align-self: end; margin-top: 10px;">
        <button type="submit" class="btn btn-success mx-auto">Register</button>
        </div>

</EditForm>
